body {
    background-color: rgb(0, 149, 221);
}

.header {
    display: flex;
    justify-content: center;
    padding: 60px;
    color: white;
    font-size: 50px;
    transition: 0.2s;
}

.container {
    display: grid;
    width: 100%;
}

#content {
    display: grid;
}

.set-one {
    display: grid;
    text-align: center;
    margin: 40px;
    color: rgb(228, 238 , 247);
    font-size: 50px;
}

.list {
    display: grid;
    color: black;
    background-color: rgb(228, 238 , 247);
    border-radius: 4px;
    width: 100%;
    grid-template-columns: 80%;
}

#para-sect {
    display: grid;
    grid-template-columns: 30%;
    grid-row: 2 / span 10;
}

#site-para {
    display: grid;
}

#sites-header {
    display: grid;
    justify-content: right;
    font-size: 30px;
    grid-column-start: 2;
}

#site-name {
    font-size: 25px;
    margin-left: 55%;
    display: grid;
    justify-content: right;
}

.sites {
    display: grid;
    font-size: 25px;
    margin-left: 90%;
    justify-content: right;
}

.sites:hover {
    cursor: pointer;
    transform: translateY(-5px) scale(1.005)
    translate(0);
}

.set-two {
    display: flex;
    align-items: center;
}

.set-two, .set-three, .set-four {
    color: white;
}

p {
    font-size: 30px;
}

.cards {
    display: flex; 
    justify-content: space-between;
    transition: 0.2s;
}

.cards .card-one {
    display: flex;
    width: 250px;
    height: 350px;
    margin: 20px 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.cards .card-two {
    display: flex;
    width: 250px;
    height: 350px;
    margin: 20px 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.cards .card-three {
    display: flex;
    width: 250px;
    height: 350px;
    margin: 20px 10px;
    align-items: center;
    justify-content: space-around;
    border-radius: 3px;
    color: white;
    font-size: 20px;
}

.card-one:hover {
    transform: translateY(-5px) scale(1.005)
    translate(0);
}

.card-two:hover {
    transform: translateY(-5px) scale(1.005)
    translate(0);
}

.card-three:hover {
    transform: translateY(-5px) scale(1.005)
    translate(0);
}
